<header class="header">
  <!-- Logo -->
  <a href="index.html" class="logo_link">
    <img src="images/MDF_Logo.png" alt="Masque de Fer Logo" class="logo" />
  </a>

  <!-- Navigation Menu -->
  <ul class="nav_menu">
    <li class="dropdown">
      <p>Masque de Fer</p>
      <ul class="dropdown_menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#">Leraren</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <p>De Schermsport</p>
      <ul class="dropdown_menu">
        <li><a href="#">schermsport</a></li>
        <li><a href="degen.html">Floret</a></li>
        <li><a href="sabel.html">Floret</a></li>
        <li><a href="floret.html">Floret</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <p>Links</p>
      <ul class="dropdown_menu">
        <li><a href="links.html">Links</a></li>
        <li><a href="#">Gallerij</a></li>
      </ul>
    </li>
</header>
