<header class="header">
  <!-- Logo -->
  <div class="header_inner">
    <a href="index.html" class="logo_link">
      <img src="images/MDF_Logo.png" alt="Masque de Fer Logo" class="logo" />
    </a>

    <!-- Hamburger -->
    <button class="menu_toggle">☰ <span class="menu_label">Menu</span></button>

    <!-- Navigation Menu  -->
    <ul class="nav_menu">
      <li class="dropdown">
        <a href="index.html">Masque de Fer</a>
        <ul class="dropdown_menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="schermavond.html">Schermavond</a></li>
          <li><a href="leraren.html">Leraren</a></li>
          <li>
            <a href="contact_administratie.html">Contact & Administratie</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="schermsport.html">De Schermsport</a>
        <ul class="dropdown_menu">
          <li><a href="schermsport.html">Schermsport</a></li>
          <li><a href="uitrusting.html">Uitrusting</a></li>
          <li><a href="floret.html">Floret</a></li>
          <li><a href="degen.html">Degen</a></li>
          <li><a href="sabel.html">Sabel</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="links.html">Links</a>
        <ul class="dropdown_menu">
          <li><a href="links.html">Links</a></li>
          <li><a href="#">Gallerij</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
